*.class
*.gitignore
.gitignore
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Test folder
tst/

bin/

Samples/Qrvey3/S3Buckets/files/config/forms/ResidentInterestSurveyForm.json
Samples/Qrvey3/S3Buckets/files/config/forms/ResidentInterestSurveyForm.pdf
Samples/Qrvey3/S3Buckets/files/config/forms/ResidentInterestSurveyForm_Results.odf
Samples/Qrvey3/S3Buckets/files/config/forms/ResidentInterestSurveyForm_Results.pdf